/**************************** RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************** FERRAMENTAS */

.borda {
    border: 2px solid red;
}

/************************ STYLE */

.fundo_verde {
    background-color: #5C8374;
}

.fundo_laranja {
    background-color: coral;
}

.fonte {
    color: rgb(129, 129, 129);
}

.menu_btn {
    height: 80vh;
}

.btn_menu {
    padding: 50px;

}

.fonte_menu {
    font-size: 38px;
    font-family: 50px;
}

.gap_menu {
    gap: 110px;
}

.texto_btn {
    color: rgb(235, 235, 235);
}

.sombra_texto {
    box-shadow: 5px 5px 15px #818080;
}